
.containerForm{
    /* Display */
    display: flex;

    /* Properties */
    flex-wrap: wrap;
    background-color: #021b55;
    
    flex-direction: column;
    align-items: center;
}
.tituloForm{
    padding: 7px;
    margin-top: 30px;
    font-size: 1.7em;
    color: white;
}
.inputNameForm, .inputEmailForm, .inputSubjectForm, .inputMessageForm{
    width: 20em;
    height: 3em;
    margin-top: 20px;
    border-radius: 5px;
    background-color: black;
    border: #6bcecf 2px solid;
    color: white;
    padding: 5px;
}

.inputNameForm:focus, .inputEmailForm:focus, .inputSubjectForm:focus, .inputMessageForm:focus{
    outline: none;
    border: #0494b4 3px solid;
    box-shadow: 1px 1px 12px white;
}

.inputMessageForm{
    position: absolute;
    height: 10em;
    margin-top: 280px;
    
}


.errorInfo, #sendButtom{
    display: flex;
    margin-left: 60vw;
    gap: 5px;    
}

.errorInfo{
   position: absolute;
    box-shadow: 1px 1px 10px #0494b4;
    background: #0494b4;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 180px;
}
#sendButtom:enabled{
    border-radius: 30px;
    padding: 10px;
    box-shadow: 1px 1px 20px #0494b4;
    background: #0494b4;
    color: white;
    border: none;
}
#sendButtom:enabled:hover{
    background: #0494b4;
    cursor: pointer;
}
#sendButtom:enabled:active{
    background: #0494b4;
    cursor: pointer;
    
    
}
#sendButtom:disabled{
    
    padding: 10px;
    border-radius: 30px;
}