.fourthBlock{
  
    /* Display */
    display: flex;
    
    /* Properties */
  
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
    justify-content: space-between;
    gap: 20px;

  
    /* Sizes */
    height: 33em;
  }
  
  /* Footer */
  

  /*  ----------------- Modals ----------------------- */
  .contenedorModal{
    
    /* Properties */
    background-color: #0494b4;

    /* Position */
    position: fixed;
    top: 0;
    z-index: 4;

  }
  .botonFooterAbrirModal{

    /* Properties */
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 0.6em;
    cursor: pointer;
    transition: 0.5s;

  }

  .botonFooterAbrirModal:hover{

    /* Properties */
    box-shadow: 0 0 10px white;
    transition: 0.3s;

  }

  /* ------------------------------------------------- */
  
  .titleFooter{
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 20px;
    color: white;
  }
  
  .containerLogosFooter{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    width: 13em;
    
  }

  /* Cartas de presentacion */

  .cartasFooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
  .cartaPresentacionFooter{
    display: flex;
    
    flex-direction: column;

    
    
    width: 100vw;
    border: 1px solid white;
    
    border-radius: 10px;
    width: 20em;
    height: 26em;
    transition: .5s;
    margin-bottom: 2em;

}

.títuloCPF{

    align-self: center;
    text-align: center;

    color: #0494b4;
    font-size: 1.4em; 
    margin-top: 1em;
    transition: 1s;
}

.subtituloCPF{
    text-align: center;
    margin-top: 7px;
}

.informacionCPF{
    
    display:flex;
    
    align-items: center;
    justify-content: center;
    color: white;
    height: 20em;
    width: 100%;
    margin-bottom: 1em;
    
}

.imgCPF{
    
    height: 15em;
    width: 100%;
    object-fit: contain;
    border-radius: 9px;
    
}

.cartaPresentacionFooter:hover{
  transition: .5s;
  transform: translateY(-15px);
  /* border: rgb(255, 0, 242) 1px solid; */
  box-shadow: 0 12px 16px rgba(161, 161, 161, 0.63);
  background-color: rgba(92, 92, 92, 0.74);
}