
/* Propiedades Globales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página principal */

/* Contenedor Principal */
.containerIndex{
    /* display */
    display: flex;

    /* Properties */
    flex-direction: column;
    flex-wrap: wrap;

}

/* Contenedor posiciones */

.positionNavbar{
    position: sticky;
    top: 0;
}

.firstBlock{
    /* Properties */
    background-color: red;

    /* Sizes */
    height: 20em;
}

.secondBlock{
    /* Properties */
    background-color: green;

    /* Sizes */
    height: 20em;
}

.thirdBlock{
    /* Properties */
    background-color: orange;

    /* Sizes */
    height: 30em;
}

.fourthBlock{
    /* Properties */
    background-color: black;
    color: white;

    /* Sizes */
    height: 10em;
}