
/* Propiedades Globales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página principal */

/* Contenedor Principal */
.containerIndex{
    /* display */
    display: flex;

    /* Properties */
    flex-direction: column;
    flex-wrap: wrap;

}

/* Contenedor posiciones */

.positionNavbar{
    position: sticky;
    top: 0;
    z-index: 2;
}

.firstBlock{
    /* Properties */
    

    /* Sizes */
    height: 91vh;
}
/* ---------------------------------------------------- */

/* Segundo bloque antes */

.secondBlockFirst{
  /* Display */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20em;

  /* Properties */
  border: solid;

  /* Sizes */
  height: 20em;
}

.dontShowItFirst{
  /* Properties */
  opacity: 0;
}

.showedFirst{
  /* Display */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20em;

  /* Position */
  grid-column: 1/5;
  grid-row: 1/2;

  transition: 1s;

}

.buttonSecondBlock{
  /* Positions */
  grid-column: 1/5;
  grid-row: 1/2;
  z-index: 1;
  margin-left: 10em;
  text-align: start;

  /* Properties */
  border: none;
  background:none;
  height: max-content;
  cursor: pointer;
  
  /* Sizes */
  width: 100%;
  height: 100%;  
}

.imgServiciosSecondBlock{

  /* Positions */
  grid-column: 2/5;
  grid-row: 1/2;

  /* Sizes */
  width: 100%;
  height: 99%;

  /* Properties */
  background-color: blue;
  margin-bottom: auto;
  object-fit: cover;
  clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0% 100%);
  opacity: 0.5;
  
}

/* Segundo bloque despues */

.secondBlockSecond{
  /* Display */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20em 20em;

  /* Properties */
    border: solid;
    transition: 1s;

  /* Sizes */
    height: 40em;
}

.showedSecond{
  /* Display */
  display: flex;

  /* Position */
  grid-column: 1/5;
  grid-row: 1/3;

  /* Properties */
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

#showInfo{

  /* Positions */
  grid-column: 1/3;
  grid-row: 2/3;

  /* Properties */
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.dontShowIt{
  /* Display */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20em;

  /* Position */
  grid-column: 1/5;
  grid-row: 1/2;
  
  /* Properties */
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

/* ------------------------------------- */

.prueba{
  /* Properties */
  border: solid;
  background-color: rgb(255, 115, 0);

  /* Sizes */
  height: 30em;
  transition: 1s;
}
.thirdBlock{
    /* Properties */
    

    /* Sizes */
    height: 20em;
}

#showOrHide2{
  /*duracion de la animacion, puedes variar el tiempo, entre mas grande mas tarda el efecto*/
animation-duration: 2s;
animation-fill-mode: both;
/*le indicas que animacion quieres aplicarle, animacion hecha por ti en un keyframe*/
animation-name: fadeIn;

}

.fourthBlock{
  
  /* Display */
  display: grid;
  
  /* Properties */

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  background-color: black;
  color: white;

  /* Sizes */
  height: 10em;
}

/* Footer */

.footerDW{
  /* Position */
  grid-column: 1;
  grid-row: 2/11;
  /* Properties */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.footerMP{
  /* Position */
  grid-column: 2;
  grid-row: 2/11;
  /* Properties */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Sizes */
}

.titleFooter{
  grid-column: 1/3;
  text-align: center;
  padding: 10px;
}

.containerLogosFooter{
  display: flex;
  justify-content: space-around;
  width: 13em;
  margin: 5px;
}

.imgLogo{
  /* Properties */
  object-fit: contain;
  border-radius: 50px;
  border: 2px solid white;
  /* Sizes and Positions */
  height: 50px;
  width: 50px;
  
}


/* Logo WhatsApp */
.imgLogoWsp{

  /* Properties */
  position: fixed;
  cursor: pointer;
  background-image: url(./img/whatsappLogo.png);
  background-size: cover;
  transition: .7s;
  
  /* Sizes and Positions */
  height: 5em;
  width: 5em;
  z-index: 1;
  bottom:0;
  right: 0;
  margin-bottom: 3em;
  margin-right: 3em;
}
.imgLogoWsp:hover{

  /* Properties */
  background-image: url(./img/clickToChat.png);

  /* Sizes and Positions */
  height: 15em;
  width: 15em;
  margin-bottom: -1em;
  margin-right: 1em;
}


/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}