
/* Contenedor principal */

.containerNavbar{
    /* display */
    display: flex;

    /* Properties */
    justify-content: space-around;
    align-items: center;
    background-color: rgb(49, 49, 49);    
    box-shadow: 1px 5px 7px rgb(138, 138, 138);
    
    /* Sizes */
    height: 4em;
}

/* Elementos del Navbar */

.imgNavbar{
    /* Properties */
    cursor: pointer;

    /* Sizes */
    width: 6em;
    height: 3em;
}

.navegators{
    /* Properties */
    padding: 6px;
    font-family:Arial, Helvetica, sans-serif;
    color: #0494b4;
    cursor: pointer;
    z-index: 5;
    /* Sizes */
    font-size: 1.2em;
    
}


.navegators > .active p {
    transition: 0.5s;
    border-bottom: solid 1px #05b1d8;
    box-shadow:  0 7px 15px -10px #05b1d8 ;
    
}




