
/* Contenedor principal */

.containerNavbar{
    /* display */
    display: flex;

    /* Properties */
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(114,50,242,1) 0%, rgba(34,18,95,1) 27%, rgba(1,1,8,1) 79%);
    box-shadow: 0 4px 10px rgba(114,50,242,1);
    
    /* Sizes */
    height: 4em;
}

/* Elementos del Navbar */

.imgNavbar{
    /* Properties */
    cursor: pointer;

    /* Sizes */
    width: 6em;
    height: 3em;
}

.navegators{
    /* Properties */
    padding: 6px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    z-index: 5;
    /* Sizes */
    font-size: 1.2em;
    transition: 0.5s;
    
}


.navegators > .active p {
    /* transition: 0.5s; */
    /* border-bottom: solid 1px #05b1d8;
    box-shadow:  0 7px 15px -10px #05b1d8 ; */
    
}
.navegators:hover{
    font-size: 1.4em;
    color: #05b1d8;
    transition: 0.5s;
}




