
/* Contenedor principal */

.containerNavbar{
    /* display */
    display: flex;

    /* Properties */
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(0deg, rgba(114,50,242,1) 0%, rgba(34,18,95,1) 27%, rgba(1,1,8,1) 79%); */
    /* box-shadow: 0 4px 10px rgba(114,50,242,1); */
    transition: 0.5s;
    /* Sizes */
    /* height: 10vh; */
    
}
.div1Navbar{
    display: flex;
    margin-left: 3%;
}
.div2Navbar{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-right: 3em;
}
/* Elementos del Navbar */

.imgNavbar{
    /* Properties */
    cursor: pointer;

    /* Sizes */
    width: 4em;
    height: 2em;
}

.navegators{
    /* Properties */
    padding: 6px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    z-index: 5;
    /* Sizes */
    font-size: 1em;
    transition: 0.5s;
    
}


.navegators > .active p {
    /* transition: 0.5s; */
    /* border-bottom: solid 1px #05b1d8;
    box-shadow:  0 7px 15px -10px #05b1d8 ; */
    
}
.navegators:hover{

    color: #05b1d8;
    transition: 0.5s;
    border-radius: 20px;
}
.navegators:visited{
    border-radius: 20px;
}

.navegatorPhone{
    display: none;
}

.modalMenuPhone{
    
    display: none;
    
    
    color: white;
    z-index: 5;
    background-color: rgb(22, 0, 56);
    border: 1px solid white;
    flex-direction: column;
    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 4em;
    
    width: 100vw;

    align-self: center;
    align-items: center;
    justify-content: center;

    animation: fadeIn 0.5s;
    
    
}

.modalMenuPhone > .navegators{
    display: flex;
}

@media (max-width: 700px){
    .containerNavbar{
       padding: 0 0 0 6%;
       
    }
    .navegators{
        display: none;
    }
    .navegatorPhone{
        /* Display */
        display: flex;

        /* Properties */
        color: white;
        font-size: 2em;
        cursor: pointer;
        margin-right: 10%;

    }
    .div1Navbar{
        display: flex;
        justify-content: center;
        align-self: center;
    }
}



