/* ---------------------------------------------------- */

/* Segundo bloque antes */

.secondBlockFirst{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20em;
  
    /* Properties */
    border: solid;
  
    /* Sizes */
    height: 20em;
  }
  
  .dontShowItFirst{
    /* Properties */
    opacity: 0;
  }
  
  .showedFirst{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20em;
  
    /* Position */
    grid-column: 1/5;
    grid-row: 1/2;
  
    transition: 1s;
  
  }
  
  .buttonSecondBlock{
    /* Positions */
    grid-column: 1/5;
    grid-row: 1/2;
    z-index: 2;
  
    /* Properties */
    border: none;
    background:none;
    cursor: pointer;
    z-index: 1;
    
    /* Sizes */
    width: 100%;
    height: 100%;  
  }
  
  .nombreBotonServicios{
    
    /* Positions */
    position: absolute;
    margin-top: 5em;
    margin-left: 3.5em;
  
    /* Properties */
    color: rgb(255, 0, 242);
    font-size: 1.7em; 
  }
  
  .imgServiciosSecondBlock{
  
    /* Positions */
    grid-column: 2/5;
    grid-row: 1/2;
  
    /* Sizes */
    width: 100%;
    height: 99%;
  
    /* Properties */
    background-color: blue;
    object-fit: cover;
    clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0.5;
    
  }
  
  /* Segundo bloque despues */
  
  .secondBlockSecond{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20em 20em;
  
    /* Properties */
      border: solid;
      transition: 1s;
  
    /* Sizes */
      height: 46em;
  }
  
  .showedSecond{
    /* Display */
    display: flex;
  
    /* Position */
    grid-column: 1/5;
    grid-row: 1/3;
    margin-top: 7em;
  
    /* Properties */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
  }
  
  #showInfo{
  
    /* Positions */
    grid-column: 1/3;
    grid-row: 2/3;
  
    /* Properties */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  
  .dontShowIt{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20em;
  
    /* Position */
    grid-column: 1/5;
    grid-row: 1/2;
    
    /* Properties */
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  /* Seccion donde están los div de servicios */

.nombreSegundoBotonServicios{
   /* Positions */
   grid-column: 1/5;
   grid-row: 1;
   
   
   /* Properties */
   color: rgb(255, 0, 242);
   font-size: 2em; 
   transition: 1s;
   text-align: center;
   margin-top: 1em;
}

/* MarketingServicios */

.MarketingServicios, .PublicidadServicios, .DiseñoGráficoServicios, .FotografíaVideoServicios, .DesarrolloWebServicios{
    display: flex;
    align-items: center;
    flex-direction: column;

    
    height: 20em;
    width: 100vw;
    border: 1px solid;
    background-color: rgba(230, 225, 220, 0.836);

    width: 20em;
    height: 15em;
    transition: .5s;

}

.títuloServicios{

    align-self: center;
    text-align: center;

    color: rgb(255, 0, 242);
    font-size: 1.4em; 
    margin-top: 2em;
    transition: 1s;
}

.informacionServicios{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* text-align: justify; */
    
    height: 20em;
    width: 77%;
    
}

.imgServicios{
    grid-column: 2;
    grid-row: 1;
    z-index: -1;
    height: 20em;
    width: 100%;
    object-fit: contain;
}

.MarketingServicios:hover,
.PublicidadServicios:hover, 
.DiseñoGráficoServicios:hover, 
.FotografíaVideoServicios:hover, 
.DesarrolloWebServicios:hover{
  transition: .5s;
  width: 24em;
  height: 19em;
}

/* -------------------- */

.PublicidadServicios{
  
}

.DiseñoGráficoServicios{
  
}
  
.FotografíaVideoServicios{
  
}
.DesarrolloWebServicios{
  
}

  /* ------------------------------------- */