/* ---------------------------------------------------- */

/* Segundo bloque antes */

.secondBlockFirst{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20em;
  
    /* Properties */
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background: black;  
  }
  
  .dontShowItFirst{
    /* Properties */
    opacity: 0;
  }
  
  .showedFirst{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 24em;
  
    
    /* Position */
    grid-column: 1/5;
    grid-row: 1/2;
  
    transition: 1s;
    align-items: center;
  
  }
  
  .buttonSecondBlock{
    /* Positions */
    grid-column: 1/5;
    grid-row: 1/2;
    z-index: 2;
  
    /* Properties */
    border: none;
    background:none;
    cursor: pointer;
    z-index: 1;
    
    /* Sizes */
    width: 100%;
    height: 100%;  
  }
  
  .nombreBotonServicios{
    
    /* Positions */
    position: absolute;
  
    margin-left: 8%;
    margin-bottom: 3em;
   
    /* Properties */
    color: white;
    font-size: 2.5em; 
  }
  .imgServiciosSecondBlock{
  
    /* Positions */
    /* position: absolute;
    right: 0;
    margin-right: 3vw;
     */
     grid-column: 2/5;
     grid-row: 1;
     
     justify-self: center;
     align-self: center;
     

    /* Sizes */
    width: 85%;
    height: 23em;
    padding: 2em;
    
    border-radius: 5em;
    /* Properties */
    object-fit: cover;
    clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0.8;
    
    
  }
  
  /* Segundo bloque despues */
  
  .secondBlockSecond{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 65em;
  
    /* Properties */
      transition: 1s;
      background: black; 
      
  }
  
  .showedSecond{
    /* Display */
    display: flex;

    /* Position */
    grid-column: 1/5;
    grid-row: 1/3;
    margin-top: 7em;
  
    /* Properties */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
  }
  

  
  .dontShowIt{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 24em;
  
    /* Position */
    grid-column: 1/5;
    grid-row: 1/2;

    align-items: center;
    

    transition: 1s;

    /* Properties */
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  /* Seccion donde están los div de servicios */

.nombreSegundoBotonServicios{
   /* Position */
   grid-column: 1/5;
   grid-row: 1/2;
   /* Properties */
   color: white;
   font-size: 2em; 
   transition: 1s;
   text-align: center;
   margin-top: 1em;

   animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

/* MarketingServicios */

.MarketingServicios, .PublicidadServicios, .DiseñoGráficoServicios, .FotografíaVideoServicios, .DesarrolloWebServicios{
    display: flex;
    align-items: center;
    flex-direction: column;

    
    height: 20em;
    width: 100vw;
    border: 1px solid white;
        
    border-radius: 10px;
    width: 20em;
    height: 25em;
    transition: .5s;

}

.títuloServicios{

    align-self: center;
    text-align: center;

    color: #0494b4;
    font-size: 1.4em; 
    margin-top: 1em;
    transition: 1s;
}

.informacionServicios{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* text-align: justify; */
    
    color: white;
    height: 20em;
    width: 77%;
    margin-bottom: 1em;
    
}

.imgServicios{
    
    z-index: -1;
    height: 12em;
    width: 100%;
    object-fit: cover;
    border-radius: 9px;
    
}

.MarketingServicios:hover,
.PublicidadServicios:hover, 
.DiseñoGráficoServicios:hover, 
.FotografíaVideoServicios:hover, 
.DesarrolloWebServicios:hover{
  transition: .5s;
  transform: translateY(-15px);
  /* border: rgb(255, 0, 242) 1px solid; */
  box-shadow: 0 12px 16px rgba(161, 161, 161, 0.63);
  background-color: rgba(92, 92, 92, 0.74);
}

/* -------------------- */

@media (max-width:700px){

  /* Primera imagen */
  .imgServiciosSecondBlock{
  
    grid-column: 1/5;
    grid-row: 1;
    
    justify-self: center;
    align-self: center;
    margin: 0;

    /* Sizes */
    width: 90%;
    height: 23em;

    padding: 2em;
    left: 0;
    border-radius: 5em;
    /* Properties */
    object-fit: cover;
    clip-path: none;
    opacity: 0.8;
     
  }

  /* Tíyulo primera imagen */
  .nombreBotonServicios{
    
    /* Positions */
    grid-column: 1/5;
    grid-row: 1;
    
    justify-self: center;
    align-self: center;
    margin: 0;
    z-index: 1;
    background: rgba(107, 107, 107, 0.829);
    /* Properties */
    color: white;
    font-size: 2.5em;
    border-radius: 10px; 
    width: 5em;
    text-align: center;
  }

}


@media (max-width:330px){

  /* Primera imagen */
  .imgServiciosSecondBlock{
  
    position: absolute;

    /* Sizes */
    width: 90%;
    height: 23em;
    padding: 2em;
    left: 0;
    margin-right: 3%; 
    margin-left: 7%;
    border-radius: 5em;
    /* Properties */
    object-fit: cover;
    clip-path: none;
    opacity: 0.8;
     
  }
}
