
.swiper {
    width: 100vw;
    height: 88vh;

    background: black; 
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black; 
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    
    
  }
  
  .swiper-button-prev{
    opacity: 0;
    transition: 0.3s;
  }
  .swiper-button-next{
    color: white;
    opacity: 0;
    transition: 0.3s;
  }

  /* .swiper-button-next:after, .swiper-button-prev:after{
    color: white;
    transition: 0.3s;

  } */

  .swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: white;
  }

 .swiper-pagination-bullet.swiper-pagination-bullet-active{
    height: 0.7em;
    width: 0.7em;
    
  }
  .swiper-pagination-bullet{
    background-color: grey;
    border: 0.3px solid white;
  }