/* ---------------------------------------------------- */

/* Sobre nosotros */

.bloqueSobreNosotros{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20em;
  
    /* Properties */
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(5,3,20,1) 10%, rgba(43,21,111,1) 30%, rgba(114,50,242,1) 50%, rgba(43,21,111,1) 70%, rgba(5,3,20,1) 90%, rgba(0,0,0,1) 100%);  
}
  
  .noMostrarPrimeroSN{
    /* Properties */
    opacity: 0;

  }
  
  .mostrarPrimeroSN{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20em;
  
    /* Position */
    grid-column: 1/5;
    grid-row: 1/2;
    
    transition: 1s;
    align-items: center;
    

  }
  
  .buttonSecondBlock{
    /* Positions */
    grid-column: 1/5;
    grid-row: 1/2;
    z-index: 1;
  
    /* Properties */
    border: none;
    background:none;
    cursor: pointer;
    
    /* Sizes */
    width: 100%;
    height: 100%;
    
  
  }
  
  
  
  
  /* Segundo bloque despues */
  
  .segundoBlockSN{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 26em;

    /* Properties */
      transition: 1s;
      align-items: center;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(5,3,20,1) 10%, rgba(43,21,111,1) 30%, rgba(114,50,242,1) 50%, rgba(43,21,111,1) 70%, rgba(5,3,20,1) 90%, rgba(0,0,0,1) 100%);  


  }
  
  .mostrarSegundoSN{
    /* Display */
    display: flex;
  
    /* Position */
    grid-column: 1/5;
    grid-row: 1/3;
    
    /* Properties */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    transition: 1s;
   

  }
  .tituloSN{
    /* Positions */
    grid-column: 1/5;
    grid-row: 1;
    
    margin-left: 6%;
    z-index: 0;
  
    /* Properties */
    color: white;
    font-size: 2.3em; 
  }
  .nombreSegundoBotonSN{
    /* Positions */
    grid-column: 1/5;
    grid-row: 1;
    
    margin-left: 10%;
    z-index: 1;
  
    /* Properties */
    color: white;
    font-size: 2.3em; 
    transition: 1s;
}
  
  .informacion{
  
    /* Properties */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    color: white;
    font-size: 1.2em; 
    /* text-align:justify; */
    margin-left: 50%;
    margin-right: 10%;
  }
  
 
  
  
  /* ------------------------------------- */


 

  @media (max-width:700px){

    .tituloSN{
      /* Positions */
      grid-column: 1/5;
      grid-row: 1;
      
      justify-self: center;
      align-self: center;
      margin: 0;
      margin-bottom: 8em;
      z-index: 0;
      
      /* Properties */
      color: white;
      font-size: 2em;
      text-align: center;
    }
    .mostrarSegundoSN{
      /* Display */
      display: flex;
    
      /* Position */
      grid-column: 1/5;
      grid-row: 1/3;
      
      /* Properties */
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-fill-mode: both;
      transition: 1s;
      flex-direction: column;
     
  
    }
    
    .nombreSegundoBotonSN{
      /* Positions */
      grid-column: 1/5;
      grid-row: 1;
      margin-bottom: 7em;
      margin-left: 0;
      z-index: 1;
      text-align: center;
      /* Properties */
      color: white;
      font-size: 2.3em; 
      transition: 1s;
  }
    
    .informacion{
    
      /* Properties */
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-fill-mode: both;
      color: white;
      font-size: 1.2em; 
      /* text-align:justify; */
      margin-left: 3em;
      margin-right: 3em;
    }
    
  }
  
  @media (max-width:500px){

    .tituloSN{
      font-size: 2em;
      align-self: center;
    }
    .informacion{
    
      /* Properties */
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-fill-mode: both;
      color: white;
      margin-top: 2em;
      font-size: 1em; 
      /* text-align:justify; */
      margin-left: 3em;
      margin-right: 3em;
    }
    
  }