/* ---------------------------------------------------- */

/* Sobre nosotros */

.bloqueSobreNosotros{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20em;
  
    /* Properties */
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(5,3,20,1) 10%, rgba(43,21,111,1) 30%, rgba(114,50,242,1) 50%, rgba(43,21,111,1) 70%, rgba(5,3,20,1) 90%, rgba(0,0,0,1) 100%);  
  
}
  
  .noMostrarPrimeroSN{
    /* Properties */
    opacity: 0;
  }
  
  .mostrarPrimeroSN{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 24em;
  
    /* Position */
    grid-column: 1/5;
    grid-row: 1/2;
    
    transition: 1s;
    align-items: center;
  
  }
  
  .buttonSecondBlock{
    /* Positions */
    grid-column: 1/5;
    grid-row: 1/2;
    z-index: 2;
  
    /* Properties */
    border: none;
    background:none;
    cursor: pointer;
    z-index: 1;
    
    /* Sizes */
    width: 100%;
    height: 100%;  
  }
  
  
  
  
  /* Segundo bloque despues */
  
  .segundoBlockSN{
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 24em;

    /* Properties */
      transition: 1s;
      align-items: center;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(5,3,20,1) 10%, rgba(43,21,111,1) 30%, rgba(114,50,242,1) 50%, rgba(43,21,111,1) 70%, rgba(5,3,20,1) 90%, rgba(0,0,0,1) 100%);  

    /* Sizes */
      height: 25em;
  }
  
  .mostrarSegundoSN{
    /* Display */
    display: flex;
  
    /* Position */
    grid-column: 1/5;
    grid-row: 1/3;
    
    /* Properties */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  .nombreBotonSN{
    /* Positions */
    position: absolute;
    
    margin-left: 6%;
    margin-bottom: 3em;
  
    /* Properties */
    color: white;
    font-size: 2.3em; 
  }
  .nombreSegundoBotonSN{
    /* Positions */
    position: absolute;
    margin-left: 3.5em;

    /* Properties */
    color: white;
    font-size: 2.5em; 
    transition: 1s;
}
  
  .informacion{
  
    /* Properties */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    color: white;
    font-size: 1.2em; 
    /* text-align:justify; */
    margin-left: 60%;
    margin-right: 10%;
  }
  
 
  
  
  /* ------------------------------------- */